.nav-container {
    height: 100%;
    width: 45px;
    position: absolute;
    background-color: #272838;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 10px 5px;
}

.nav-link {
    color: #dcbebe;
    text-decoration: none;
    text-transform: uppercase;
    transform: rotate(270deg);
}


.nav-link:hover, .nav-link:active {
    filter: brightness(110%);
    text-decoration: underline;
}

@media (orientation: portrait) {
    .nav-link {
        transform: none;
    }

    .nav-container {
        bottom: 0;
        height: 30px;
        width: 100%;
        flex-direction: row;
    }


}
